<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendar</title>
    </head>
    <h1>Progetto di Basi di Dati</h1>
    <body>
        {% if current_user.is_authenticated %}
        Benvenuto nel calendario! Sei l'utente {{ current_user }}! <br/>
        {% else %}
        Per essere nel calendario devi essere autenticato
        {% endif %}
        
        <form action="/logout">
            Disconnetti:<input type="submit">
        </form>
    </body>
</html> 