{% extends "base.html" %}

{% block pagehead %}
    <title>Gestione staff</title>
{% endblock %} 
{% block pagebody %}
    <header>
        <nav>
            <div id="div0">
                <a href="reserved_private">Area amministrazione</a>
            </div>
            <div id="div1">
                <h1>Gestione dello staff</h1>
            </div>
            <div id="div2">
            </div>
        </nav>
    </header>
    <h3>Operazioni disponibili</h3>
    <div id="operazioniDisp">
        <section id="sezione0" class="w3-container w3-card-4">
            <form id="form0" action="/add_other" method="POST">
                
                <section>
                        <div>
                            <label>Aggiungi membro dello staff</label>
                        </div>
                        <input class="button" type="button" value="Aggiungi" onclick="AggiungiStaff()">
                </section>

            </form>
            <hr>
            <form id="form1" action="/remove_other" method="POST">
                
                <section>
                    <div>
                        <label>Rimuovi membro dello staff</label>
                        <select id="select1" name="idAltro">
                            {% for o in others %}
                                <option value={{o.id}}>Staff #{{ o.id }} : nome: {{ o.nome }}, cognome: {{ o.cognome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="button" type="button" value="Rimuovi" onclick="RimuoviStaff()">
                </section>

            </form>
        </section>
    </div>
{% endblock %} 
{% block pagescript %}
    <script>
        var form0 = document.getElementById("form0");
        var form1 = document.getElementById("form1");

        var select1 = document.getElementById("select1");

        function AggiungiStaff() {
            form0.submit();
        }

        function RimuoviStaff() {
            if(select1.value != "")
                form1.submit();
            else
                alert("I dati non sono stati inseritit correttamente");
        }
    </script>
{% endblock %}