<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <!--<link rel="stylesheet" href="css/w3.css">-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <form class="w3-container" action="/create" method="POST">

            <p>
                <label>Nome</label>
                <input class="w3-input" type="text" name="nome">
            </p>
            
            <p>
                <label>Cognome</label>
                <input class="w3-input" type="text" name="cognome">
            </p>
            
            <p>
                <label>Data di nascita</label>
                <input class="w3-input" type="date" name="dataNascita">
            </p>
           
            <p>
                <label>Email</label>
                <input class="w3-input" type="email" name="email">
            </p>
            
            
            <p>
                <label>Username</label>
                <input class="w3-input" type="text" name="username">
            </p>
            
            <p>
                <label>Password</label>
                <input class="w3-input" type="password" name="password">
            </p>
            
            <p>
                <label>Conferma password</label>
                <input class="w3-input" type="password" name="password">
            </p>

            <input class="button" type="submit" value="Conferma">
        </form>
    </body>
</html>