{% if current_user.is_authenticated %}
<meta http-equiv = "refresh" content = "0; url = /private" />
{% endif %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Base</title>
        <!--<link rel="stylesheet" href="css/w3.css">-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <h1>Progetto di Basi di Dati</h1>
            
        Per proseguire bisogna prima autenticarsi
        <br>

        <form class="w3-container" action="/login" method="POST">
            
            <p>
                Email: <input class="w3-input" type="text" value="" name="user">
            </p>
           
            <p>
                Password: <input class="w3-input" type="password" value="" name="pass">
            </p>
            
            <p>
                <a href="signup">Crea un nuovo utente.</a>
            </p>
            
            <input type="submit" value="Login">
        </form>
    </body>
</html>